doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About page
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    
    include includes/header 
    main
      section.about-page
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12
              .about-about-page
                h2 About the Club
                img(src="media/images/be-logo.png", alt="")
                h3 B-club - #bottom-searchers & #billion-makers club is a private real estate investor club. 
                p The Club's strategy is to search and acquire highly liquid assets with outstanding value upside worldwide.
                h6 B-Club membership privileges:
                ul
                  li All on a turnkey basis – purchase and sale;
                  li Complete legal support of real property business;
                  li Taxes advice for non-resident investors;
                  li Special prices for our investors;
                  li The possibility of arranging a meeting with developers/top management;
                  li Different options of payment for the transaction;
                h6 Additionally:
                ul
                  li Possibility of estate administration for the investor’s benefit;
                  li Concierge service.
            .col-md-6.col-sm-6.col-xs-12
              .invest-about-page
                h2 Investment Committee
                h4 Aggregated investment experience of the Investment Committee members exceeds 50 years. They are acting top managers of investment companies and banks.  
                h6 Investment Committee Members:
                
          .row.message-tribrat
            .col-md-12.col-sm-12.col-xs-12
              .row
                .col-sm-6.col-md-6.col-xs-12
                  a.link-linkedin(href="https://www.linkedin.com/in/vladimir-tribrat-ab1a0557 ")
                    span.pic(style="background-image: url(media/images/tribrat.jpg)")
                  
                .col-sm-6.col-md-6.col-xs-12
                  h2 Message from the Managing Partner
              .row
                .col-md-8.col-sm-10.col-xs-12.col-sm-offset-2.col-sm-offset-1
                  h4 For over 10 years, founders of B-Club have been investing into residential real estate on various markets. Our main strategy is to buy apartments at early stages of construction from reliable developers creating modern projects of residential real estate.
                  p Income from such kind of investments consists of 3 components: 
                  ul
                    li growth of project readiness stage (cost of financing for developers); 
                    li growth of real estate market; 
                    li reasonable choice of investment projects where project cost growth surpasses market.
                  p 
                    | In 2016, after several mutual deals, a decision was made to join into the format of investment club named 
                    strong B-Club - #bottom-searchers & #billion-makers club.
                  p This kind of pooling allows us to have larger volume of investments (=bargain opportunities), expertise exchange and unique networking among top private real estate investors in CIS countries.
                  p Nowadays B-Club encompasses almost 20 investors and this number grows every quarter. 2 recommendations are needed to join us and enjoy the strategy, the deals and the networking we are proud of.
                  p Sincerely yours,
                  
                  
                  a.director-hover(href="https://www.linkedin.com/in/vladimir-tribrat-ab1a0557")
                    .row
                      .col-xs-3
                        .circle(style="background-image: url(media/images/tribrat.jpg)")
                      .col-xs-9
                        h4 
                          |Vladimir Tribrat
                          span
                            i.fa.fa-linkedin
                        p Managing Partner, PhD
                        p B-CLUB
              
    include includes/footer
  