doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title B-club
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading

    h4.text-center 1
    img(src="media/heros/00.jpg", alt="")
    h4.text-center 2
    img(src="media/heros/02.jpg", alt="")
    h4.text-center 3
    img(src="media/heros/03.jpg", alt="")
    h4.text-center 4
    img(src="media/heros/04.jpg", alt="")
    h4.text-center 5
    img(src="media/heros/05.jpg", alt="")
    h4.text-center 6
    img(src="media/heros/06.jpg", alt="")
    h4.text-center 7
    img(src="media/heros/07.jpg", alt="")
    h4.text-center 8
    img(src="media/heros/08.jpg", alt="")
    h4.text-center 9
    img(src="media/heros/09.jpg", alt="")
    h4.text-center 10
    img(src="media/heros/010.jpg", alt="")
    h4.text-center 11
    img(src="media/heros/011.jpg", alt="")
    h4.text-center 12
    img(src="media/heros/012.jpg", alt="")
    h4.text-center 13
    img(src="media/heros/013.jpg", alt="")
    h4.text-center 14
    img(src="media/heros/014.jpg", alt="")
    h4.text-center 15
    img(src="media/heros/015.jpg", alt="")
    h4.text-center 16
    img(src="media/heros/016.jpg", alt="")
    h4.text-center 17
    img(src="media/heros/017.jpg", alt="")
    h4.text-center 18
    img(src="media/heros/018.jpg", alt="")
    h4.text-center 19
    img(src="media/heros/019.jpg", alt="")
    h4.text-center 20
    img(src="media/heros/020.jpg", alt="")
    h4.text-center 21
    img(src="media/heros/021.jpg", alt="")
    h4.text-center 22
    img(src="media/heros/022.jpg", alt="")
    h4.text-center 23
    img(src="media/heros/023.jpg", alt="")
    h4.text-center 24
    img(src="media/heros/024.jpg", alt="")
    h4.text-center 25
    img(src="media/heros/025.jpg", alt="")
    h4.text-center 26
    img(src="media/heros/026.jpg", alt="")
    h4.text-center 27
    img(src="media/heros/027.jpg", alt="")
    h4.text-center 28
    img(src="media/heros/028.jpg", alt="")
    h4.text-center 29
    img(src="media/heros/029.jpg", alt="")
    h4.text-center 30
    img(src="media/heros/030.jpg", alt="")
    h4.text-center 31
    img(src="media/heros/031.jpg", alt="")
    h4.text-center 32
    img(src="media/heros/032.jpg", alt="")
    h4.text-center 33
    img(src="media/heros/033.jpg", alt="")
    h4.text-center 34
    img(src="media/heros/034.jpg", alt="")
    
    