doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Was a Certificate of ownership in the residential complex "Podol-Grad"
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    
    include includes/header 
    main
      section.news-item-page
        .bg-title
          span 29.03.2017
          .bg(style="background-image: url(media/heros/013.jpg)")
          h1 Was a Certificate of ownership in the residential complex "Podol-Grad"
          ul.category
            li
              a(href="") category
            li
              a(href="") category
            li
              a(href="") category
            li
              a(href="") category
            li
              a(href="") category
        .slider-big
          ul.item-slider-pic
            li
              
              img(src="media/heros/032.jpg", alt="")
            li
              img(src="media/heros/031.jpg", alt="")
            li
              img(src="media/heros/025.jpg", alt="")
        .item-content
          .row
            .col-md-12
              
              h4 Dear investors, we are glad to inform You that already registered a Certificate of ownership in the residential complex "Podol-City".
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit impedit maxime adipisci iure assumenda numquam hic eius, debitis deserunt omnis.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, nam nisi assumenda facilis sit quis et. Illo placeat ipsum voluptatum quidem, eum iste a temporibus hic neque harum, voluptas, eaque, excepturi dignissimos ducimus possimus nesciunt optio! Vero repellat enim perspiciatis, dolorum eum in porro assumenda aliquam. Quod iure ullam aut?
          .row
            .col-md-12.col-sm-12.col-xs-12
              br
              h6.mini-title Other news
            .col-md-6.col-sm-6.col-xs-12
              .news-item
                span 15.03.2017
                a(href="") Residence De Luxe "Theatre House" in the lens of the magazine "Dom& Interior"
                p Residence De Luxe "Theatre House" gives you an amazing opportunity to plunge into the memories and re-create the architectural image of Moscow of the last century.
                ul
                  li
                    a(href="") category
                  li
                    a(href="") category
                  li
                    a(href="") category
            .col-md-6.col-sm-6.col-xs-12
              .news-item
                span 20.03.2017
                a(href="") THE START OF SALES OF COMMERCIAL SPACE!
                p The total area of non-residential premises ONLY intended for commercial use, is 2 103 sqm On the choice of buyers are offered 21 lots from 80 to 380 sq. m. with the possibility of combining.
                ul
                  li
                    a(href="") category
                  li
                    a(href="") category
                  li
                    a(href="") category
    include includes/footer
  