doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Projects
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    
    include includes/header  
    section.projects-page
      .container-fluid
        .row.hero-row
          .col-md-4.col-xs-12
            .row
              .col-xs-12
                .recent-post
                  h6.mini-title RECENT cases
                  a.title-news(href="") Match Point, Moscow
                  a.title-news(href="") ONLY, Moscow
                  a.title-news(href="") Podol Grad, Kiev
                
            
          .col-md-4.col-xs-12.cases-projects-title
            h3.title Cases
            p 
              |See our latest work
          .col-md-4.col-xs-12
            .categories
              h6.mini-title categories
              a(href="") October 2016
              a(href="") May 2016
              a(href="") April 2016
              a(href="") January 2016
              a(href="") December 2015
              a(href="") November 2015
              a(href="") October 2015
          
        .row
          .col-md-12
            .row
              .col-md-4.col-sm-6.col-xs-12  
                .deals-item
                  .bg(style="background-image: url(media/heros/012.jpg)")
                  .circle(style="background-image: url(media/heros/012.jpg)")
                  h5 Deals committed
                  a(href="project-one.html") Podol Grad, Kiev
                  .row
                    .col-xs-12.col-sm-6.col-md-6.border-right
                      span Status
                      p Flats, shell&core
                      span Unit size, sq.m.
                      p 55-100
                      span B-Club’s price, $/sq.m.
                      p Staring $1100
                    .col-xs-12.col-sm-6.col-md-6
                      span Budget
                      p $1,5 M
                      span Hand-over
                      p 2016-2017
                      span Developer
                      p UkrBud (state-owned)
              .col-md-4.col-sm-6.col-xs-12  
                .deals-item
                  .bg(style="background-image: url(media/heros/013.jpg)")
                  .circle(style="background-image: url(media/heros/013.jpg)")
                  h5 Deals committed
                  a(href="project-two.html") Match Point, Moscow
                  .row
                    .col-xs-12.col-sm-6.col-md-6.border-right
                      span Status
                      p Apartments with fit-out
                      span Unit size, sq.m.
                      p 60-65
                      span B-Club’s price, $/sq.m.
                      p Starting $2 750
                    .col-xs-12.col-sm-6.col-md-6
                      span Budget
                      p $800 000
                      span Hand-over
                      p 4Q 2019
                      span Developer
                      p VTB Bank
              .col-md-4.col-sm-6.col-xs-12  
                .deals-item
                  .bg(style="background-image: url(media/heros/014.jpg)")
                  .circle(style="background-image: url(media/heros/014.jpg)")
                  h5 Deals committed
                  a(href="project-three.html") ONLY, Moscow
                  .row
                    .col-xs-12.col-sm-6.col-md-6.border-right
                      span Status
                      p Apartments with fit-out
                      span Unit size, sq.m.
                      p 40-60
                      span B-Club’s price, $/sq.m.
                      p Starting $2 900
                    .col-xs-12.col-sm-6.col-md-6
                      span Budget
                      p $3,5 M
                      span Hand-over
                      p 2Q 2018
                      span Developer
                      p Central Properties
              .col-md-4.col-sm-6.col-xs-12  
                .deals-item
                  .bg(style="background-image: url(media/heros/015.jpg)")
                  .circle(style="background-image: url(media/heros/015.jpg)")
                  h5 Deals committed
                  a(href="project-four.html") Teatralny Dom, Moscow 
                  .row
                    .col-xs-12.col-sm-6.col-md-6.border-right
                      span Status
                      p Apartments, shell&core with terrace
                      span Unit size, sq.m.
                      p 200 + terrace
                      span B-Club’s price, $/sq.m.
                      p Starting $9 000
                    .col-xs-12.col-sm-6.col-md-6
                      span Budget
                      p $2,5M
                      span Hand-over
                      p 4Q 2017
                      span Developer
                      p HALS
            
            
            
            
            
            
              
        .row
          .col-md-12
            ul.pagination
              li
                a(href="")
                  i.fa.fa-long-arrow-left
              li
                a(href="") 1
              li
                a(href="") 2
              li
                a(href="") 3
              li
                a(href="")
                  i.fa.fa-long-arrow-right

    
      
      
              
              

    
    
    
    
    include includes/footer
  