footer
  .container
    .row
      //.col-md-4.director-box
        h4 “The Club&#39;s strategy is to search and acquire worldwide highly liquid assets with outstanding value upside"
        a.director-hover(href="https://www.linkedin.com/in/vladimir-tribrat-ab1a0557")
          .row
            .col-xs-3
              .circle(style="background-image: url(media/images/tribrat.jpg)")
            .col-xs-9
              h4 
                |Vladimir Tribrat
                span
                  i.fa.fa-linkedin
              p Managing Partner, PhD
              p B-CLUB
              
          
      
      .col-md-4.col-xs-12.link-list
        label Contact:
        
        a(href="mailto:vt@billionestate.com") 
          span E-mail: 
          | vt@billionestate.com

        a(href="tel:+4407517850993") 
          span London: 
          | +44 (0) 7-517- 850993
      .col-md-4.col-xs-12.link-list
        br
        a(href="tel:+79853626432") 
          span Moscow:
          | +7 (985) 362-64- 32

        a(href="tel:+380731027446") 
          span Kyiv:
          | +38 (073) 102-74-46
      .col-md-4.col-xs-12
        a.billionestate(href="www.billionestate.com")
          p 
            |B-Club’s Assets
            br
            |Management Company
          img(src="media/images/logo-be.png", alt="")
          h4 Billion Estate
    .row.footer-menu
      .col-md-12
        label Menu:
        ul
          li
            a(href="index.html") Home
          li
            a(href="about.html") About us
          li
            a(href="projects.html") Deals
          li
            a(href="#") Current opportunities
          li
            a(href="partnership.html") Partnership
          li
            a(href="partners.html") Partners
          li
            a(href="news.html") News
          li
            a(href="contacts.hrml") Contacts
    .row.footer-bottom
      .col-sm-4.col-xs-6
        p 2017 B-club All Rights Reserved
      .col-sm-4.col-xs-6
        a(href="http://a.d10.ch") Create Andre K.
      .col-sm-4
        
          
          
.registration-form
  button.close-form
  .form-box
    button.close-form ×
    form(action="")
      .fled
        p New Member Registration
      .fled
        label
          i.fa.fa-user
        input(name="username" type="text" placeholder="Username")
      .fled
        label
          i.fa.fa-envelope-o
        input(name="email" type="email" placeholder="E-mail")
      .fled
        label
          i.fa.fa-key
        input(name="password" type="text" placeholder="Password")
      .fled
        input.btn.send(type="submit" value="Send")
          
          
        

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  

script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6TNbdMOAIiAfmnN_XFhCAHWiXZjGs0Zw")
script(src="js/map.js")


script(src="https://use.fontawesome.com/2b87f5494f.js")
script(src="js/lib/slick.min.js")
script(src="js/scripts.js")

  